{% extends "base.html" %}

{% block title %}
{% endblock %}


{% block content %}
{% for item in products %}
    <main class="container">
      <div class="bg-light p-5 rounded">
        <h1>{{ item.title }}</h1>
        <p class="lead">Left in stock: {{ item.remain_in_stock }}</p>
        <a class="btn btn-lg btn-primary" href="{{ item.get_absolute_url }}" role="button">{{ item.price }}</a>
      </div>
    </main>
    <hr>
    {% empty %}
    <h1>There are no products there</h1>
    {% endfor %}
{% endblock %}
